# Tuples

A tuple is an ordered sequence of items.

Each item is identified by its position inside the tuple.

In [1]:
my_tuple = ( 1, 3, 5, 7, 9, 8, 6, 4, 2 )  # Items.. values
# Positions  0. 1. 2. 3  4. 5  6. 7. 8
print(my_tuple)

(1, 3, 5, 7, 9, 8, 6, 4, 2)

In [2]:
# my_tuple[ <INDEX> ]
my_tuple[1]

3

In [3]:
# Special functions to deal with tuples

## len <<<<< length: Returns the number of items in my tuple

len(my_tuple) # We have 9 items in this tuple

9

In [4]:
# I want to access the very last item within my tuple.

my_tuple[8]

2

In [5]:
my_tuple[ len(my_tuple) - 1 ]

2

In [6]:
my_tuple[ -1 ] # The last item of my tuple

2

In [7]:
my_tuple[ -2 ]

4

In [8]:
# Tuple slicing

# To get a sub-tuple from the original one.

#                  #############
my_tuple = ( 1, 3, 5, 7, 9, 8, 6, 4, 2 ) 
# Positions  0. 1. 2. 3  4. 5  6. 7. 8

            # The upper bound is not included
my_tuple[2:7]

(5, 7, 9, 8, 6)

In [11]:

#            #############
my_tuple = ( 1, 3, 5, 7, 9, 8, 6, 4, 2 ) 
# Positions  0. 1. 2. 3  4. 5  6. 7. 8

my_tuple[:5]          # my_tuple[0:5]

(1, 3, 5, 7, 9)

In [13]:

#                        ##########
my_tuple = ( 1, 3, 5, 7, 9, 8, 6, 4, 2 ) 
# Positions  0. 1. 2. 3  4. 5  6. 7. 8
# Positions  0. 1. 2. 3 -5 -4 -3 -2 -1

my_tuple[ -5 : ]

(9, 8, 6, 4, 2)

In [15]:
my_tuple[:]

(1, 3, 5, 7, 9, 8, 6, 4, 2)

In [17]:
# In order to loop thru each value inside a tupple we can use a for loop:

for each_value in my_tuple:
    print(each_value)

1
3
5
7
9
8
6
4
2

In [18]:
tuple1 = ("Anne", "Francisco", "Francisca")
tuple2 = ("Sean", "Malachi", "Helena")

tuple1 + tuple2 # The plus operator when applied over tuples is going to concatenete them

('Anne', 'Francisco', 'Francisca', 'Sean', 'Malachi', 'Helena')

In [19]:
tuple1 * 3

('Anne',
 'Francisco',
 'Francisca',
 'Anne',
 'Francisco',
 'Francisca',
 'Anne',
 'Francisco',
 'Francisca')

In [20]:
# Texts (string) in python are just tuples of chars

my_text = "Hello everybody!"
len(my_text)  # Numer of chars in that text

16

In [23]:
my_text[-5:]

'body!'

In [24]:
my_text * 5

'Hello everybody!Hello everybody!Hello everybody!Hello everybody!Hello everybody!'

In [25]:
for each_char in my_text:
    print(each_char)

H
e
l
l
o

e
v
e
r
y
b
o
d
y
!

In [28]:
my_list = [ 1, 2, 3 ]

print(my_list)

my_list[1] = 10 # Update a value inside a list

print(my_list)

[1, 2, 3]
[1, 10, 3]

In [35]:
my_list = [ 10, 2, 30 ]
my_list += [14]
my_list.append(30)
my_list.insert(1, 40)
print(my_list)

[10, 40, 2, 30, 14, 30]

In [32]:
my_list = [ 10, 2, 30 ]
my_list.remove(30)       # The first occurrence of that value, is going to be removed
print(my_list)

[10, 2]

In [33]:
my_list = [ 10, 2, 30 ]
my_list.pop(2)       # The item at the given position is going to be removed
print(my_list)

[10, 2]

In [36]:
my_list = [ 10, 2, 30, 10, 20, 9, 98 ]
my_list.count(10)

2

In [38]:
my_list = [ 10, 2, 30, 10, 20, 9, 98 ]
my_list.sort()
my_list

[2, 9, 10, 10, 20, 30, 98]

In [39]:
my_list.reverse()

In [40]:
my_list

[98, 30, 20, 10, 10, 9, 2]

# Dictionaries

Is an ordered sequence of items... where each item has an associated id (key).

Whenever we need to access one single item within a dictionary we need to use its key, instead of its position.

In [44]:
# Information about a person

person1 = { "name": "Ivan", "age": 43, "email": "ivan.osuna.ayuste@gmail.com" }
person2 = { "name": "Anne", "age": 27, "email": "anne@gmail.com" }

person1["age"]

43

In [45]:
person2["email"]

'anne@gmail.com'

In [46]:
person2["email"] = 'anne.sexton@gmail.com'

In [47]:
person2

{'name': 'Anne', 'age': 27, 'email': 'anne.sexton@gmail.com'}

In [51]:
person1 = { "name": "Ivan", "age": 43, "email": "ivan.osuna.ayuste@gmail.com" }

for each_key in person1:
    print(each_key + " - " + str(person1[each_key]) )

name - Ivan
age - 43
email - ivan.osuna.ayuste@gmail.com

In [56]:
for key,value in person1.items():
    print(key)
    print(value)

name
Ivan
age
43
email
ivan.osuna.ayuste@gmail.com